* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: #f5f5f5;
  padding: 0 0.75rem 0 0;
  height: 3.5rem;

  .header__site-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    background: url(../images/hugo.png) -23px no-repeat;
    background-size: contain;
    background-origin: border-box;
    padding: 0 0 0 1.75rem;
    height: 83.333%;
    display: flex;
    align-items: center;
  }

  .header__nav-container {
    width: 600px;
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .nav-container__nav-item {
      height: 100%;
      width: 75px;
      max-width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: all 0.33s cubic-bezier(0.075, 0.82, 0.165, 1) 50ms;

      &.active,
      &:hover,
      &:active {
        background-color: #e0e0e0;

        a {
          color: #483d8b;
        }
      }

      a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #f5f5f5;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
      }
    }
  }
}

.main-content__container {
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  
  .user {
    width: 300px;
    height: 100px;
    padding: 16px;
    box-shadow: 2px 3px 15px #2223;
    margin: 2rem auto;
  }

  .posts__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .posts__item {
      width: 30%;
      padding: 32px;
      box-shadow: 2px 3px 15px #2223;
      margin: 1rem 0.5rem;
      float: left;
      left: auto;
      right: auto;
      height: 100px;
      box-sizing: border-box;
      padding: 0.75rem;
      background-color: #444;
      color: #f5f5f5;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;

      &:hover {
        transform: scale(1.025);
      }
    }
  }
  
  .post__container {
    width: 83.333%;
    max-width: 800px;
    margin: 3.5rem auto;
    box-shadow: 2px 3px 15px #2223;
    padding: 32px;

    .post__title {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 26px;
      width: 66.666%;
      border-bottom: 1px solid #222;
      padding-bottom: 1rem;
    }

    .post__date {
      font-size: 13px;
      font-weight: 300;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .post__body {
      margin-top: 3.5rem;
    }
  }
}

.footer__container {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: #f5f5f5;

  .footer__copyright {
    padding: 1.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: calc(100% - 151px);
  }
  
  .footer__hugo-logo {
    background: url(../images/hugo_full.png) 0px 75px no-repeat;
    background-size: contain;
    height: 151px;
    width: 100%;
    max-width: 565px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}